* { 
  background: #1E1E1E;
  height: 100%;
  overflow: hidden;
}
#overview {
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}