:root {
  --color-highlight: #000;
  --color-primary: #000;
  --color-secondary: #000;
  --color-tertiary: #000;
  --color-background: #000;
  --color-dark: #000;
  --color-ascent: #000;

  --size-columnPaddingNormal: 10px;
}

* { 
  background: var(--color-background);
  height: 100%;
  overflow: hidden;
}
#overview {
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.overview-buttonContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  top: 50px;
  left: 50px;
  z-index: 1;
  gap: var(--size-columnPaddingNormal);
}
.overview-button {
  height: 60px;
  background-color: var(--color-tertiary);
  border: none;
  color: var(--color-highlight);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: var(--size-columnPaddingNormal);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.overview-button:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
  color: var(--color-highlight);
}
.overview-button-disabled {
  height: 60px;
  border: none;
  color: var(--color-highlight);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: var(--size-columnPaddingNormal);
  align-items: center;
  justify-content: space-between;
}

/* The switch - the box around the slider */
.overview-switch {
  background-color: var(--color-tertiary);
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.overview-button:hover .overview-switch {
  background-color: var(--color-secondary);
}

/* Hide default HTML checkbox */
.overview-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.overview-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background);
  -webkit-transition: .4s;
  transition: .4s;
}

.overview-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-secondary);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .overview-slider {
  background-color: var(--color-primary);
}

input:focus + .overview-slider {
  box-shadow: 0 0 1px var(--color-background);
}

input:checked + .overview-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.overview-slider.round {
  border-radius: 34px;
}
.overview-slider.round:before {
  border-radius: 50%;
}